@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --bs-primary: #EB7835;
    --bs-secondary: #FFE7C6;
    --bs-secondary2: #65C3D0;

    --bs-body-font-family: 'Roboto', sans-serif;
    --bs-body-font-size: 18px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #5B5B5B;
    --bs-body-bg: #fff;

    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.burger-icon {
    width: 32px;
    height: 32px;
    background: url(../img/list.svg) no-repeat;
    background-size: cover;
    border: none;
}

.btn-primary {
    --bs-btn-padding-x: 40px;
    --bs-btn-padding-y: 18px;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-border-radius: 0;
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: rgba(255,255,255,.7);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-box-shadow: none;
    --bs-btn-active-shadow: none;
    --bs-btn-focus-box-shadow: none;
}

.modal {
    --bs-modal-border-radius: 0;    
    font-size: 14px;
}

.top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 9;
}
.top-navbar .logo-img {
    display: block;
}
.top-navbar.navbar-bg .logo-img img {
    height: 50px;
}
.top-navbar.navbar-bg {
    background-color: #fff;
    box-shadow: 0 10px 16px -16px gray;
    transition: all .25s;
    height: 70px;
}

.top-navbar .nav,
.side-navbar .nav {
    --bs-nav-link-font-size: 14px;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-primary);
}
.side-navbar .nav {
    --bs-nav-link-font-size: 18px;
}
.top-navbar .nav .nav-link,
.side-navbar .nav .nav-link {
    text-transform: uppercase;
}
.top-navbar .nav .nav-link.active,
.side-navbar .nav .nav-link.active {
    color: var(--bs-primary);
}

.header {
    background: url(../img/header_bg.jpg) center bottom no-repeat;
    background-size: cover;
}
.header .header-phone {
    display: block;
    background: url(../img/phone_ico.svg) left center no-repeat;
    padding-left: 25px;
    color: var(--bs-primary);
    font-size: 20px;
    text-decoration: none;
}
.header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.05em;
    max-width: 960px;
    margin: 180px 0 40px 0;
}
.header .btn {
    margin-bottom: 215px;
}
@media (max-width: 991px) {
    .top-navbar {
        padding: 10px 0;
    }
    .top-navbar .logo-img img {
        width: 85px;
        height: 50px;
    }
    .header .header-phone {
        font-size: 16px;
    }
    .header h1 {
        font-size: 32px;
        margin: 110px 0 40px 0;
    }
    .header .btn {
        margin-bottom: 40px;
    }
}

section {
    padding: 80px 0 120px 0;
}
section:before {
    height: 40px;
    content: "";
    display: block;
}
section h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
@media (max-width: 991px) {
    section {
        padding: 40px 0 80px 0;
    }
    section:before {
        height: 40px;
    }
    section h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

#stm .g-custom {
    --bs-gutter-x: 80px;
}  
#stm h2 {
    color: var(--bs-primary);
}
@media (max-width: 991px) {
    #stm img {
        margin-bottom: 20px;
    }    
    #stm .g-custom {
        --bs-gutter-x: 24px;
    }
}

#stages {
    background-color: var(--bs-secondary);
}
#stages .g-custom {
    --bs-gutter-x: 120px;
    --bs-gutter-y: 120px;
} 
#stages h2 {
    text-align: center;
    margin-bottom: 120px;
}
#stages .stage-element {
    text-align: center;
}
#stages .stage-element img {
    margin-bottom: 36px;
}
#stages .stage-element h3 {
    font-size: 18px;    
    font-weight: 700;
    margin-bottom: 15px;
}
#stages .stage-element p {
    font-size: 16px;    
}
@media (max-width: 991px) {
    #stages .g-custom {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 32px;
    }
    #stages h2 {
        margin-bottom: 40px;
    }
    #stages .stage-element h3 {
        font-size: 16px;    
    }
    #stages .stage-element p {
        font-size: 14px;    
    }
}

#brend-building h2 {
    color: var(--bs-primary);
}
#brend-building .g-custom {
    --bs-gutter-x: 80px;
}    
@media (max-width: 991px) {
    #brend-building .g-custom {
        --bs-gutter-x: 24px;
    }
}

#devider {
    background-color: var(--bs-secondary2);
    padding: 65px 0;
}
#devider .img-wrapper {
    position: relative;
}
#devider .img-wrapper img {
    position: absolute;
    top: -105px;
}
#devider .text-block {
    color: #fff;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    #devider {
        padding: 40px 0 80px 0;
        text-align: center;
    }
}
#examples {
    background-color: var(--bs-secondary);    
}
#examples .g-custom {
    --bs-gutter-x: 120px;
    --bs-gutter-y: 120px;
} 
#examples .text-block {
    margin-bottom: 120px;
}
#examples .example-element {
    position: relative;
    text-align: center;
}
#examples .example-element img {
    border-radius: 30px;
}
#examples .example-element h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;    
    font-weight: 500;
}
@media (max-width: 991px) {
    #examples .text-block {
        margin-bottom: 40px;
    }
    #examples .example-element h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35px;
        font-size: 14px;  
        max-width: 140px; 
        margin: auto;
    }
    #examples .g-custom {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 32px;
    }
}
#request {
    background: url(../img/request_bg.png) right center no-repeat var(--bs-secondary2);
    padding: 90px 0;
}
#request h2 {
    color: #fff;
    text-align: center;
}
#request .form-control {
    padding: 18px;
    border-radius: 0;
}
#request .form-control:focus {
    box-shadow: none;
}
#request .btn {
    width: 100%;
}
#request .form-check {
    margin-top: 30px;
}
#request .form-check-input {
    border-radius: 0;
}
#request .form-check-input:focus {
    box-shadow: none;
}
#request .form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
#request .form-check-label {
    color: #fff;
    font-size: 14px;
}
#request .form-check-label a {
    color: #fff;
}
@media (max-width: 991px) {
    #request {
        background: var(--bs-secondary2);
        padding: 40px 0;
    }
    #request h2 {
        margin-bottom: 40px;
    }
    #request .form-control {
        margin-bottom: 15px;
    }
}

#experience .g-custom {
    --bs-gutter-x: 80px;
    --bs-gutter-y: 120px;
}  
#experience h2 {
    color: var(--bs-primary);
}
#experience .text-block {
    margin-bottom: 120px;
}
#experience .experience-element {
    text-align: center;
}
#experience .experience-element img {
    margin-bottom: 15px;
}
#experience .experience-element h3 {
    font-size: 18px;
}
@media (max-width: 991px) {
    #experience .text-block {
        margin-bottom: 40px;
    }
    #experience .g-custom {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 32px;
    }
}

#toyru {
    background-color: var(--bs-secondary);
}
#toyru .g-custom {
    /* --bs-gutter-x: 155px; */
    --bs-gutter-y: 100px;
}  
#toyru .text-block {
    margin-bottom: 120px;
}
#toyru .toyru-element {
    position: relative;
    display: flex;
    align-items: center;
    background: #FCAE41;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 60px 50px 50px 120px;
    min-height: 270px;
    margin-left: 70px;
}
#toyru .toyru-element img {
    position: absolute;
    top: 50px;
    left: -75px;
}
@media (max-width: 991px) {
    #toyru .text-block {
        margin-bottom: 80px;
    }
    #toyru .toyru-element {
        margin-left: 0;
        padding: 60px 30px 30px 30px;
    }
    #toyru .toyru-element img {
        top: -80px;
        left: calc(50% - 85px);
    }
    #toyru .g-custom {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 120px;
    }
}

.footer {
    padding: 30px 0;
}
.footer .contacts-block {
    font-size: 14px;
}
.footer .contacts-block a {
    color: var(--bs-body-color);
    display: block;
    padding-left: 25px;
    text-decoration: none;
}
.footer .contacts-block a[href^="mailto"] {
    background: url(../img/mail_ico.svg) left center no-repeat;
    margin-bottom: 10px;
}
.footer .contacts-block a[href^="tel"] {
    background: url(../img/phone2_ico.svg) left center no-repeat;
}
@media (max-width: 991px) {
    .footer .contacts-block a {
        display: inline-block;
    }
    .footer .contacts-block a:first-child {
        margin-right: 20px;
    }
}