@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --bs-primary: #EB7835;
    --bs-secondary: #6c757d;

    --bs-body-font-family: 'Roboto', sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #5B5B5B;
    --bs-body-bg: #fff;

    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;

}

.btn {
    text-transform: uppercase;
}
.btn-primary {
    --bs-btn-padding-x: 20px;
    --bs-btn-padding-y: 18px;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-border-radius: 0;
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-box-shadow: none;
    --bs-btn-active-shadow: none;
    --bs-btn-focus-box-shadow: none;
}

.header {
    background-image: url(../img/header_bg.jpg);
}
.header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.05em;
}

#stages {
    background-color: #FFE7C6;
}